.alert_panel {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.pop_up {
  position: fixed;
  width: 30%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-size: medium;
  box-shadow: 0 5px 5px rgba(70, 95, 185, .05), 0 5px 5px rgba(106, 123, 201, .2);
  padding: 15px;
  max-height: 70%;
  overflow-y: auto;
  margin: auto;
}

/* .button {
    z-index: 50;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: linear-gradient(45deg, #0c0c0c, #838181);
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
  } */

  .alertWrapper {
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  .metro_tram_bus{
      padding: 3%;
      float: none;  
  }

  .back{
    height: 30px;
    background-color: rgba(195, 0, 0, 0.8);
    text-align: center;
    border-radius: 5px;
    color: white;
    vertical-align: middle;
    line-height: 30px;
  }

  .alert-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 5px;
    left: 20%;
    height: 38px;
    width: 150px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    background: rgba(81, 157, 224, 1);
    color: white;
    border: none;
    /* -webkit-transform: translate(40%, 0%); */

  }

  .alert-button:hover {
    background: rgba(61, 137, 204, 1);
  }