.result-text-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 10% 30% 45%;
    max-width: 97%;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(70, 95, 185, .05), 0 5px 5px rgba(106, 123, 201, .2);
    overflow-x: hidden;
    border-top: 1px solid #e9e9e9;
}

.one{
    grid-column: 1 / 3;
    grid-row: 1;
 }

 .two{
    grid-column: 2 / 3;
    grid-row: 1;
    margin: auto;
    padding-left: 3px;
 }

 .three {
    grid-column: 3 / 3;
    grid-row: 1;
    margin: auto;
 }

.direction {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 17px;
    text-align: center;
}

.horaires {
    display: flex;
    flex-direction: line;
    list-style: none;
}

.premierHoraire {
    font-size: 20px;
    padding-right: 7px;
}

.deuxiemeHoraire {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.65);
    padding-right: 7px;
}

.troisiemeHoraire {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.65);
}