.result-text-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 10% 30% 45%;
    max-width: 97%;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(70, 95, 185, .05), 0 5px 5px rgba(106, 123, 201, .2);
    overflow-x: hidden;
    border-top: 1px solid #e9e9e9;
}

.one{
    grid-column: 1 / 3;
    grid-row: 1;
 }

 .two{
    grid-column: 2 / 3;
    grid-row: 1;
    margin: auto;
    padding-left: 3px;
 }

 .three {
    grid-column: 3 / 3;
    grid-row: 1;
    margin: auto;
 }

.direction {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.gif {
    position: fixed;
    left: 50%;
    width: 12px;
    height: 12px;
}

.horaires {
    display: flex;
    flex-direction: line;
    list-style: none;
}

.premierHoraire {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-right: 7px;
}

.deuxiemeHoraire {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.65);
    padding-right: 7px;
}

.troisiemeHoraire {
<<<<<<< HEAD
=======
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
>>>>>>> 49ac0c0a6e620ca3cd80cd78b945f276bd1711f0
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}

.statPanel {
    max-height: 250px;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}

.premiereStat{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    text-align: center;
    margin: 5px;
    width: 100%;
    overflow-y: hidden;
    height: 220px;
}