.searchbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 25px;
    z-index: 2;
    font-family: monospace;
}

.search-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    /* border-color: #2f3640; */
    /* border: 1px solid; */
    box-shadow: 0 5px 10px rgba(140, 165, 185, .05), 0 5px 15px rgba(166, 173, 201, .1);

    grid-column: 1;
    grid-row: 1;

}
   
.search-box > .search-txt {
    width: 240px;
    padding: 0 6px;
}
   

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .search-btn {
        position: relative;
        float: right;
        -webkit-transform: translate(-50%, -900%);
        font-size: 20px;
       }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .search-btn {
        position: relative;
        float: right;
        font-size: 20px;
       }
    }
}

@media only screen and (max-width: 500px) {
    .search-btn {
        position: relative;
        float: right;
        font-size: 20px;
        -webkit-transform: translate(-50%, -120%);
       }
    }

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #2f3640;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
    font-weight: bold;
    text-align: center;
}

.searchbar-results {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 23%);
    border-radius: 0px 0px 10px 10px;
    width: 270px;
    max-height: 200px;
    list-style-type: none;
    overflow: auto;
}

.searchbar-result-box {
    border-color: #2f3640;
    padding: 3px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
}

.searchbar-result-box:hover {
    background: lightgray;
}

.searchbar-span-network {
    color: rgba(44, 54, 64, 0.6);
}